* {
    margin: 0;
    padding: 0;
  }
  
  body {
    min-height: 100vh;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: #101010;
  }
  header{
    background-size: none;
  }

  /*CC8A72    CCB9B5   191A19*/